.profile {
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 25px;
  width: 400px;
  margin-bottom: 50px;
}

.main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.img_avatar {
  width: 200px;
  background-color: #2c2c2c;
  border-radius: 100%;
  margin-bottom: 15px;
}

.name_user {
  color: black;
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 15px;
}

.additional_info_user {
  color: gray;
  font-size: 20px;
  margin-bottom: 8px;
}

.users_stats {
  display: flex;
  width: 100%;
}

.stats_item {
  padding: 10px;
  gap: 5px;
  width: 100%;
  border: 2px solid gray;
  border-bottom: none;
  background-color: rgb(197, 197, 197);
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.stats_item:first-child {
  border-left: none;
}

.stats_item:last-child {
  border-right: none;
}
